@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'HelveticaNeue MediumExt';
  src: url('../public/fonts/HelveticaNeue-MediumExt.eot');
  src: url('../public/fonts/HelveticaNeue-MediumExt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/HelveticaNeue-MediumExt.woff2') format('woff2'),
      url('../public/fonts/HelveticaNeue-MediumExt.woff') format('woff'),
      url('../public/fonts/HelveticaNeue-MediumExt.ttf') format('truetype'),
      url('../public/fonts/HelveticaNeue-MediumExt.svg#HelveticaNeue-MediumExt') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* group utilities  */
@layer base {
  body {
      @apply font-poppins text-lg text-white bg-[#010421];
  }
  h1, h2, h3, h4, h5 {
      @apply text-white font-medium font-helvetica;
  }
}
.container {
  @apply mx-auto 2xl:max-w-[1320px] xl:max-w-[1280px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-4;
}

.button {
  border-radius: 1000px;
  background: var(--gradient-2, linear-gradient(90deg, #D116BF 0%, #3016D1 100%));
  padding: 18px 40px;
}

.mySwiper .swiper-button-prev{
  border-radius: 56px;
  border: #E7F0FB;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.55) 100%);
  backdrop-filter: blur(25px);
  width: 56px;
  height: 56px;
  color: #FFFFFF;
  padding-right: 5px;
  margin-left: -4px;
}
.mySwiper .swiper-button-next {
  border-radius: 56px;
  border: #E7F0FB;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.55) 100%);
  backdrop-filter: blur(25px);
  width: 56px;
  height: 56px;
  color: #FFFFFF;
  padding-left: 5px;
  margin-left: -4px;
}
.mySwiper .swiper-button-prev:hover{
  border-radius: 56px;
  background: var(--p-5, linear-gradient(90deg, #D116BF 0%, #3016D1 100%));
  backdrop-filter: blur(25px);
  width: 56px;
  height: 56px;
  color: #FFFFFF;
  padding-right: 5px;
}
.mySwiper .swiper-button-next:hover{
  border-radius: 56px;
  background: var(--p-5, linear-gradient(90deg, #D116BF 0%, #3016D1 100%));
  backdrop-filter: blur(25px);
  width: 56px;
  height: 56px;
  color: #FFFFFF;
  padding-left: 5px;
}
