@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'HelveticaNeue MediumExt';
  src: url('../public/fonts/HelveticaNeue-MediumExt.eot');
  src: url('../public/fonts/HelveticaNeue-MediumExt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/HelveticaNeue-MediumExt.woff2') format('woff2'),
      url('../public/fonts/HelveticaNeue-MediumExt.woff') format('woff'),
      url('../public/fonts/HelveticaNeue-MediumExt.ttf') format('truetype'),
      url('../public/fonts/HelveticaNeue-MediumExt.svg#HelveticaNeue-MediumExt') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* group utilities  */
@layer base {
  body {
      @apply font-poppins text-lg text-white bg-[#010421];
  }
  h1, h2, h3, h4, h5 {
      @apply text-white font-medium font-helvetica;
  }
}
.container {
  @apply mx-auto 2xl:max-w-[1320px] xl:max-w-[1280px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-4;
}
